<div class="connecting">Hold on, we're setting up a cable...</div>
<div class="connected">
  <div>
    The cable is open for business!
  </div>
  <div>
    <span>Connection count:</span>
    <span id="connected-count"></span>
    <div>
      <button id="request-current-count">Broadcast current count to all clients</button>
      <button id="live-current-count">Keep count in sync</button>
    </div>
  </div>
  <ul id="requests"></ul>
</div>
