<div class="connecting">Hold on, we're setting up a cable...</div>
<div class="connected">
  <div>
    The cable is open for business!
  </div>
  <div>
    <span>Connection count:</span>
    <span id="connected-count">Loading...</span>
  </div>
</div>
